<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink='/'>Paymentsense</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink='/home' routerLinkActive='active'>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/countries' routerLinkActive='active'>Countries</a>
          </li>
        </ul>
     </div>
  </nav>
